In [1]:
from src.utils.env_export import create_json
from src.utils.khalili_env import get_env
from src.policy.jas_voc_policy import JAS_voc_policy
from src.policy.jas_policy import RandomPolicy
from src.utils.mouselab_jas import MouselabJas
import numpy as np
import random
import seaborn as sns
from matplotlib import pyplot as plt
import json
from simulation import run_episode
from src.utils.data_classes import EpisodeResult
import pandas as pd
import tqdm

%load_ext autoreload
%autoreload 2

## Random baseline for experiment environments

In [32]:
cost_weight= 0.5798921379230035
env, config = get_env()
policy = RandomPolicy()

In [48]:
# Compute random score over test environments
columns = EpisodeResult._fields
data = []
for seed in range(12, 22):
    res_data = []
    for _ in range(10000):
        res, actions = run_episode(env, policy, seed=seed)
        res_data.append(res)
    res_df = pd.DataFrame(res_data, columns=columns)
    data.append(res_df.mean().to_list())
df = pd.DataFrame(data, columns=columns)
df

     reward  actions  seed   runtime  true_reward  expected_reward
0  3.509576   4.9222  12.0  0.001303     3.894847         3.509576
1  3.527022   4.9086  13.0  0.001295     3.921715         3.527022
2  3.498825   4.9246  14.0  0.001308     3.610339         3.498825
3  3.510792   4.9127  15.0  0.001473     3.574298         3.510792
4  3.499757   4.9218  16.0  0.001420     3.222883         3.499757
5  3.572623   4.9146  17.0  0.001420     4.224300         3.572623
6  3.544299   4.9184  18.0  0.001367     3.676118         3.544299
7  3.537451   4.9148  19.0  0.001414     3.952736         3.537451
8  3.517815   4.9179  20.0  0.001444     3.435968         3.517815
9  3.502410   4.9111  21.0  0.001369     3.539911         3.502410

In [49]:
#df.to_csv("./data/experiment_results/random_baseline.csv")

In [50]:
df.mean()

reward              3.522057
actions             4.916670
seed               16.500000
runtime             0.001381
true_reward         3.705311
expected_reward     3.522057
dtype: float64

## Random baseline for simulation environments

In [3]:
env, config = get_env()
policy = RandomPolicy()

In [10]:
# Compute random score over test environments
start_seed, end_seed = 5000, 10000
runs_per_env = 1000
columns = EpisodeResult._fields
data = []
with tqdm.tqdm(total=runs_per_env*(end_seed-start_seed)) as pbar:
    for seed in range(start_seed, end_seed):
        for _ in range(runs_per_env):
            res, actions = run_episode(env, policy, seed=seed)
            data.append(res)
            pbar.update()
        
df = pd.DataFrame(data, columns=columns)

100%|██████████| 5000000/5000000 [4:21:16<00:00, 318.96it/s]

In [11]:
df.to_csv("./data/simulation_results/random_baseline_all.csv")

In [3]:
df = pd.read_csv("./data/simulation_results/random_baseline_all.csv")

In [7]:
mean_df = df.groupby("seed").mean()
mean_df = mean_df.reset_index()
mean_df.to_csv("./data/simulation_results/random_baseline.csv")